body {
    background-color: black !important;
    width: 100%;
    height: 100%;
}

.background-container {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto Slab", serif;
    height: 100%;
    width: 100%;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.main-container {
    position: relative;
    z-index: 5;
    display: flex;
    padding: 7% 0;
    width: 100vw;
    height: 100vh;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-shadow: #191919 2px 2px 30px;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.time {
    font-size: 1500%;
    line-height: 1;
}

.todo {
    flex: 1;
}

.message {
    flex: 1;
    font-size: 500%;
}

#quotes {
    font-size: 120%;
}

#change-btn {
    cursor: pointer;
    margin: auto;
    width: 0px;
    height: 0px;
    background: url("/static/images/refresh.png");
    padding: 15px;
}

#change-btn:hover {
    background: url("/static/images/refresh_gray.png");
}

.form-control {
    background-image: linear-gradient(0deg, white 2px, rgba(0, 150, 136, 0) 0),
        linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0) !important;
    color: white !important;
}

.onyourmind { 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.onyourmind .form-control { padding: 10px; }

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1 !important;
    font-size: 100% !important;
    /* Firefox */
}

#todo-container p {
    font-size: 200%;
}