html {
    height: 100%;
}

body {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    height: 100%;
    width: 100%;
    background-position: center;
}

.main-container {
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.time {
    font-size: 1050%;
}

.message {
    font-size: 337%;
    margin-bottom: 40px;
}

#quotes {
    margin-top: 8%;
    font-size: 120%;
}

#change-btn {
    cursor: pointer; 
    margin: auto;
    width:0px;
    height:0px;
    background:url('/static/images/refresh.png');
    padding:15px;
}

#change-btn:hover {
    background: url('/static/images/refresh_gray.png');
}