html {
    height: 100%;
}

body {
    background-color: black !important;
    width: 100%;
    height: 100%;
}

.background-container {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    height: 100%;
    width: 100%;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity 1.5s;
}

.main-container {
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-shadow: #191919 2px 2px 30px;
    opacity: 0;
    -webkit-transition: opacity 2s;
}

.time {
    font-size: 1050%;
}

.message {
    font-size: 300%;
    margin-bottom: 40px;
}

#quotes {
    margin-top: 6%;
    font-size: 120%;
}

#change-btn {
    cursor: pointer; 
    margin: auto;
    width:0px;
    height:0px;
    background:url('/static/images/refresh.png');
    padding:15px;
    margin-top: 20px;
}

#change-btn:hover {
    background: url('/static/images/refresh_gray.png');
}