html {
    height: 100%;
}

body {
    background-color: black !important;
    width: 100%;
    height: 100%;
}

.background-container {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto Slab", serif;
    height: 100%;
    width: 100%;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity 1.5s;
}

.main-container {
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-shadow: #191919 2px 2px 30px;
    opacity: 0;
    -webkit-transition: opacity 2s;
}

.time {
    font-size: 1500%;
}

.message {
    font-size: 500%;
    margin-bottom: 40px;
}

#quotes {
    margin-top: 6%;
    font-size: 120%;
}

#change-btn {
    cursor: pointer;
    margin: auto;
    width: 0px;
    height: 0px;
    background: url("/static/images/refresh.png");
    padding: 15px;
    margin-top: 20px;
}

#change-btn:hover {
    background: url("/static/images/refresh_gray.png");
}

.form-control {
    background-image: linear-gradient(0deg, white 2px, rgba(0, 150, 136, 0) 0),
        linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0) !important;
    color: white !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1 !important;
    font-size: 100% !important;
    /* Firefox */
}

.info {
    margin-top: 200px;
}

#todo-container p {
    font-size: 200%;
}
